table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	background-color: DarkGreen;
}
td {
	background-color: ForestGreen;
}
tr {
	height:50px;
}
th,td {
	border-style: dotted;
}
body {
	background-color:DarkSlateBlue;
	color:white; 
	font-family:verdana;
	background-image: url('assets/bg.png');
}